*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
}

h6{
  font-weight: 700;
  font-size: 12px;
}

P{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0 ;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color:white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body{
  width: 100%;
  background-color: rgb(31, 30, 30) ;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px;
  background: rgb(31, 30, 30);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo{
  font-size: 25px;
  color: #aca4a4;
  text-decoration: none;
  font-style:italic;
  font-size: 30px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#navbar li{
  list-style:none;
  padding: 0 20px;
  position: relative;
  margin-top: 10px;
}

#navbar li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #aca4a4;
  transition: 0,5s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color:rgb(241, 241, 241);
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 25%;
  height: 2px;
  background-color: #aca4a4;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none ;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.card-group{
  padding: 10px 0 ;
  margin: -10px -5px;
}


.gambar{
  height: 130px;
  width: 0;  
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 20px 20px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #756f6f;
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
  
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color:#aca4a4 ;
  font-size: 14px;
}

#product1 .pro .des h5{
  padding: 7px;
  color:rgb(83, 49, 49);
  font-size: 14px;
  margin-bottom: -10px;
  margin-left: -5px;
}

#product1 .pro .des i{
  font-size: 12px;
  color:#f1ee07;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #646060;
}

#product1 .pro li{
  list-style: none;
}

#product1 .pro li a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #cce7d0;
  font-weight: 500;
  color: #646060;
  border: 1 px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/f2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{
  color: #ffffff;
  font-size: 16px;
}

#banner h2{
  color:#fdfcff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color:#aca4a4;
}

#banner button:hover{
  background-color: rgb(31, 30, 30);
  color: #aca4a4;
}

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(31, 30, 30);
}

#newsletter h4{
  font-size: 22px;
  font-weight: 1000;
  color: #aca4a4;
}

#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #aca4a4;
}

#newsletter p span{
  color: #fff;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius:0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: rgb(209, 192, 192);
  color: #534343;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgb(31, 30, 30);
}

footer .col{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin-bottom: 20px;
}

footer .col a{
  color: #aca4a4
}

footer .logo{
  margin-bottom: 30px;
}



footer h4{
  font-size: 14px;
  padding-bottom: 20px;
  color: #aca4a4
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #aca4a4
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #aca4a4;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}

footer .follow i{
  color: black;
  padding-right: 4px;
  cursor: pointer;
}

/* shop page */
#page-header{
  background-image:url("img/banner/f2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header P{
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a{
  text-decoration: none;
  padding: 15px 13px;
  font-weight: 700;
  color: #7e7676;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* single product */
#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding: 30px;
}

#prodetails .single-pro-details h4{
  padding: 40px 0px 20px 0px;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details button{
  background: rgb(30, 30, 31);
  color: #aca4a4;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}


/*about page */
#about-head img{
  width: 50%;
  height:80vh;
}

#about-head{
  display: flex;
  align-items: center;
}

#about-head div{
  padding-left: 40px;
}

/*CONTACT PAGE*/
#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details{
  width: 40%;
}

#contact-details .details span,
#form-details form span{
  font-size: 12px;

}

#contact-details .details h2
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
  
}

#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}

#contact-details .map{
  width: 55%;
  height: 400px;
}

#contact-details .map iframe{
  width: 100%;
  height: 100%;
}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid ;
}


#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(30, 30, 30,);
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid ;
}

#form-details form button{
  background-color: rgb(209, 192, 192);
  color: #443737;
}



/* start media quary */
@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(31, 30, 30);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
  }
  #navbar .active{
    right: 0px;
  } 
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #aca4a4;
    font-size: 24px;
    padding-left: 20px;
  }
}
